@font-face {
  font-family: 'Charter';
  font-style: normal;
  src: url('charter_regular.eot');
  src: url('charter_regular.eot?#iefix') format('embedded-opentype'),
     url('charter_regular.woff') format('woff'),
     url('charter_regular.ttf') format('truetype'),

}
